html,
body {
    height: 100px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}


body {
    font-family: "Open Sans", sans-serif;
}


h1, h2, h3 {
    font-family: "Lobster", cursive;
}

header h2 {
    color: #366366;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #6f868d, #149aac, #9b1da7);
    color: white;
}

.btn {
    margin: 10px;
}


<<<<<<< HEAD
=======
.card {
    margin: 0 15px;
}

.gradient {
    background: rgb(8,2,78);
    background: linear-gradient(90deg, rgba(8,2,78,1) 0%, rgba(161,11,167,1) 59%, rgba(0,65,255,1) 98%);
}
.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}
 .feature {
     color: #fff;
 }
  .feature ul {
      padding: left 2rem;
      list-style-type: none;
  }
   .feature ul li {
       padding-left: 2rem;
       /*background-image: url(../img/check.svg) */
       background-repeat: no-repeat;
       line-height: 1.5rem;
       margin-bottom: 1rem;
   }
>>>>>>> 44e240dd8dce6583318d1f7aee39963ecb1d2f57
